body {
    font-family: 'Arial Black', sans-serif;
}

h1,
h2,
nav a {
    color: #ff0000;
    /* Rosso */
}

body {
    background-color: #000000;
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

div {
    color: crimson;
}

img {
    object-fit: contain; 
    max-width: 100%;
    height: auto;
}
