/* Imposta il font principale */

body {
    font-family: 'Arial Black', sans-serif;
}


/* Imposta i colori principali */

h1,
h2,
nav a {
    color: #ff0000;
    /* Rosso */
}

body {
    background-color: #000000;
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    color: #333333;
}


/* Aggiungi un effetto hover alle voci di menu */

nav a:hover {
    text-decoration: underline;
}


/* Aggiungi un'ombra alle immagini */

img {
    box-shadow: 2px 2px 5px #333333;
}

footer {
    background-image: url("rcpmu8wnrud71.png");
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
}
